/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;
// $color-white: red;

$color-grey-light-1: #f7f7f7; // very nice subtle grey color similar to white...gives us a subtle contrast to the white color

// FONT
$default-font-size: 1.6rem; //default font size for the whole website text...like paragraph, headings etc

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem; //space in between columns

