.navigation {

    &__checkbox {

    }

    &__button {

    }

    &__background {

    }

    &__nav {

        // height: 100vh;
        // width: 100%;
        // position: fixed;
        // top: 0;
        // right: 0;
        // z-index: 10;

    }

    &__list {
        // position: absolute;
        // top: 50%;
        // left: 50%;
        // transform: translate(-50%, -50%);
        list-style: none;
        // text-align: center;
        margin-left: 2.5rem;
        margin-top: 3rem;

    }

    &__item {

        margin: 1rem;
        
        &--nested {

            margin-left: 10rem;
            font-size: $default-font-size;
            
            text-decoration: none;

            li {

                &:last-child {
                    margin-bottom: 1.5rem;
                }

                a {
                    &:link,
                    &:visited {
                        display: inline-block;
                        text-decoration: none;
                        color: $color-teal;
                        padding-bottom: 3px;

                        //padding: .5rem .5rem;

                        border-bottom: 1px solid transparent;

                    }

                    &:hover,
                    &:active {
                        //text-decoration: underline;
                       // padding: 1rem 1rem;
                        //border-bottom-width: 1px;
                       // border-bottom-style: solid;
                        border-bottom: 1px solid teal;
                        
                        //padding: 3px;
                        //transition: all .2s;
                        
                    }
                   
                    
                }


            }

        }
        
    }

    &__link {
       
            // cursor: default;
            display: inline-block;
            padding: 0rem 1rem;
            font-size: 1.8rem;
            // font-size: 3rem;
            font-weight: 500;
            // color: $color-white;
           // color: $color-teal;
            color: midnightblue;
            text-decoration: none;
            // text-transform: uppercase;

        &:hover,
        &:active {
            
            
        }
       
        
    }

}