.section-about {
    background-color: $color-grey-light-1;
    padding: 25rem 0;
    // margin-top: -5vh;
}

.section-content {
    //height: 95vh;
    height: 100vh;

    background-image: url(../img/hero2.jpg); 
    // background-image: linear-gradient(
    //     to right bottom,
    //     rgba($color-primary-light, 0.801),
    //     rgba($color-primary-dark, 0.801)),
    // url(../img/ira-potrait.jpg);
    background-size: cover;
    background-position: top;

}

.section-workshop {
    // height: 100vh;
    padding: 7%;
    background-color: #ffffff;

    .entry-text {
        padding-bottom: 5rem;

        .heading-five {
            font-size: 1.2rem;
            font-weight: 500;
            text-transform: uppercase;
            color: midnightblue;
            margin-bottom: 0.6rem;
        }

        .heading-one {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 2rem;
            font-weight: 700;
            margin-bottom: 1rem;
            color: teal;
        }
    }

    .entry-reasons {

        .entry-reasons-container {
            margin-left: 4rem;
            position: relative;

            .icon-heart {
                position: absolute;
                width: 3rem;
                height: 3rem;
                top: -.4rem;
                left: -4rem;
                color: teal;
                font-size: 2.6rem;
                text-align: center;
            }

            .heading-four {
                font-size: 1.7rem;
                margin-bottom: 1rem;
                color: midnightblue;
            }
        }
    }
    
}

.section-the-method {
   // background: #edeeed url(../img/themethod.jpg) no-repeat center top;
    height: 100vh;
    background-image: linear-gradient(-105deg, 
                    rgba(255, 255, 255, 0.9) 0%,
                     rgba(255, 255, 255, 0.9) 50%,
                     transparent 80%),
                     url(../img/bench.jpg);
    background-size: cover;

    .method-panel {
        padding: 9% 7%;

        .btn-text {
            margin-left: 0;
        }
    }

    .heading-five {
        font-size: 1.2rem;
        font-weight: 500;
        text-transform: uppercase;
        color: midnightblue;
        margin-bottom: .6rem;
    }

    .heading-one {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: $default-font-size;
        font-weight: 800;
        margin-bottom: 1rem;
        line-height: 1.5;
        // color: #eeeeee;
        color: teal;
    }

    .paragraph {
        color: #5d6e73;
       
    }

}